body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤바 방지 */
    background-color: #fffafa; /* 연한 분홍빛 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
}
